
<div class="survey">
  <div class="container text-left">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center survey-header">Find What Breeds Fit You</h2>
        <div class="wrap">
          <form id="dog-survey">
            <label class="statement dog-name">What is your name?</label>
            <ul class='q1 dog-name'>
              <input type="text" name="name" required></li>
            </ul>
            <hr>
            <label class="statement zip">What zip code are you located? (This helps others connect with people and dogs in their area.)</label>
            <ul class='q2 zip'>
              <input type="text" name="zip" required></li>
            </ul>
            <hr>
            {{#each questions}}
            <label class="statement">{{qText}}</label>
            <ul class='likert'>            
              {{> questions/survey-questions qIdx=@key }}
            </ul>  
            {{/each}}
                   
            <button type="submit" class="btn btn-lg btn-primary" id="submit-survey" data-toggle="modal">Submit</button>
            <br>
            <p class="error-message"></p>

          </form>
        </div> <!-- End Wrap -->
      </div>
    </div>
  </div>
</div>

<footer class="main-footer"></footer>